<!DOCTYPE html>
<html>
<head>
  <title>Railsapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Home', root_path, class: 'btn btn-default' %>
<% if current_user %>
  <% if can? :manage, :all %>
    <%= link_to 'Suggested Questions', suggested_questions_path, class: 'btn btn-default' %>
	<%= link_to 'Dashboard', dashboard_path, class: 'btn btn-default' %>
	<%= link_to 'Users', users_path, class: 'btn btn-default' %>
  <% end %>
  <% if can? :update, current_user %>
	<%= link_to 'Edit Profile', edit_profile_path, class: 'btn btn-default' %>
  <% end %>
	<%= link_to 'Sign out' , signout_path, class: 'btn btn-primary' %>  
<% else %>
	<%= link_to 'Sign in', signin_path, class: 'btn btn-primary' %>
<% end %>
<% flash.each do |key, value| %>
	<div class='flash' id='<%= key %>' ><%= value %></div>
<% end %>
<%= yield %>
<div class="row">
    <div class="col-md-3 col-md-offset-5">
    	<br /><br /><br /><br /><br /><br />
    	Copyright 2014
    	
    </div>
</div>
</body>
</html>
